:8000 {
  handle /healthz {
    reverse_proxy localhost:8001
  }

  # /api/v1/healthz and all API routes proxied to FastAPI
  handle /api/* {
    reverse_proxy localhost:8001
  }

  handle {
    root * /srv
    try_files {path} {path}/ /index.html
    file_server
  }
}
